<section class="cart-center">
    <div class="backdrop"></div>
    <div class="cart">
        <div class="cart-title">Your cart</div>
        <div class="cart-content">
            <img src="/Assets/Images/Invoker.webp" alt="" class="cart-image">
            <div class="cart-desc">
                <h4>erfan panel dota2</h4>
                <h5>$ 10</h5>
            </div>
            <div class="counter-cart">
                <span><i class="bi bi-chevron-up"></i></span>
                <span>0</span>
                <span><i class="bi bi-chevron-down"></i></span>
            </div>
            <div class="remove-cart">
                <span><i class="bi bi-trash3-fill"></i></span>
            </div>
        </div>
        <div class="cart-footer">
            <span class="cart-total">total price : 90 $</span>
            <button  class="clear-cart"> clear cart</button>
            <button class="cart-item-confirm">confirm</button>
        </div>
    </div>
</section>