<header class="header-container">
    <nav class="navbar">
        <div class="shop-menu">
            <span><i class="bi bi-list"></i></span>
        </div>
        <div class="shop-title">
            <h3>Erfan Shopping</h3>
        </div>
        <div class="shop-carts">
            <span><i class="bi bi-cart-plus-fill"></i></span>
        </div>
    </nav>
</header>

<section class="product-container">
    <div class="products">
        <div class="product">
            <img src="/Assets/Images/Invoker.webp" alt="" class="img-product">
            <div class="product-desc">
                <div class="product-price">10$</div>
                <div class="product-title">Invoker</div>
            </div>
            <div class="btn add-to-cart">
                add to cart
            </div>
        </div>
        <div class="product">
            <img src="/Assets/Images/Invoker.webp" alt="" class="img-product">
            <div class="product-desc">
                <div class="product-price">10$</div>
                <div class="product-title">Invoker</div>
            </div>
            <div class="btn add-to-cart">
                add to cart
            </div>
        </div>
        <div class="product">
            <img src="/Assets/Images/Invoker.webp" alt="" class="img-product">
            <div class="product-desc">
                <div class="product-price">10$</div>
                <div class="product-title">Invoker</div>
            </div>
            <div class="btn add-to-cart">
                add to cart
            </div>
        </div>
        <div class="product">
            <img src="/Assets/Images/Invoker.webp" alt="" class="img-product">
            <div class="product-desc">
                <div class="product-price">10$</div>
                <div class="product-title">Invoker</div>
            </div>
            <div class="btn add-to-cart">
                add to cart
            </div>
        </div>
        <div class="product">
            <img src="/Assets/Images/Invoker.webp" alt="" class="img-product">
            <div class="product-desc">
                <div class="product-price">10$</div>
                <div class="product-title">Invoker</div>
            </div>
            <div class="btn add-to-cart">
                add to cart
            </div>
        </div>
        <div class="product">
            <img src="/Assets/Images/Invoker.webp" alt="" class="img-product">
            <div class="product-desc">
                <div class="product-price">10$</div>
                <div class="product-title">Invoker</div>
            </div>
            <div class="btn add-to-cart">
                add to cart
            </div>
        </div>
    </div>
</section>